<%page args="page, subtitle" />

<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>${config['fts3.SiteName']} FTS3 - ${subtitle}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>

    <script src="/js/config/common.js"></script>
</head>

<body>

<%def name="add_tab(link, text, title)">
    % if page == link:
        <li class="active"><a href="${link}" title="${title}">${text}</a></li>
    % else:
        <li><a href="${link}" title="${title}">${text}</a></li>
    % endif
</%def>

    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="/img/logo.png" width="24"/>
                    ${config['fts3.SiteName'] | h} FTS3
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-tabs">
            ${add_tab("/config", "Overview", "General overview")}
            ${add_tab("/config/se", "Storage", "Manage per-storage settings")}
            ${add_tab("/config/groups", "Storage groups", "Manage storage groups")}
            ${add_tab("/config/links", "Links", "Manage link settings (standalone or pair)")}
            ${add_tab("/config/activity_shares", "Activity shares", "Manage activity shares")}
            ${add_tab("/config/fixed", "Fix values", "Fix number of actives per link")}
            ${add_tab("/config/global", "Server", "Manage FTS3-wide settings")}
            ${add_tab("/config/debug", "Debug", "Manage debug levels per storage")}
            ${add_tab("/config/audit", "Audit", "View the configuration auditing")}
            ${add_tab("/config/cloud_storage", "Cloud storage", "Configure cloud storage credentials (S3, Dropbox)")}
            ${add_tab("/config/authorize", "Static authorization", "Give permissions based on DN rather than VO extensions")}
        </ul>
    </div>
